.frightfest_style {
  background-color: white;
  opacity: 0.2;
  border: 4px dotted white;
}

.jack_pub_style {
  background-color: black;
  opacity: 0.4;
  border: 4px solid yellow;
}

pre {
  white-space: -moz-pre-wrap;
  /* Mozilla, supported since 1999 */
  white-space: -pre-wrap;
  /* Opera */
  white-space: -o-pre-wrap;
  /* Opera */
  white-space: pre-wrap;
  /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word;
  /* IE 5.5+ */
  margin: 20px 00px;
  padding: 10px;
  background-color: lightgrey;
}
